.search{
    
}
.search input{
    width: 550px;
    margin: 0 10px 0 0;

    /* style  */
    padding: 5px 10px;
    background-color: #313131;
    border-radius: 4px;
    outline: none;
    color: white;
    transition: 0.3s;
}
.search input:hover{
    background-color: #464646;
}
.search input:focus{
    background-color: #222222;
}
.search select{
    width: 100%;
    margin: 0 10px;

    /* style  */
    padding: 5px 10px;
    background-color: #313131;
    border-radius: 4px;
    outline: none;
    color: white;
    transition: 0.3s;
}
.search select:hover{
    background-color: #464646;
}
.search option{
    color: white;
    transition: 0.3s;
}