.search{
    
}
.search input{
    width: 550px;
    margin: 0 10px 0 0;

    /* style  */
    padding: 5px 10px;
    background-color: #313131;
    border-radius: 4px;
    outline: none;
    color: white;
    transition: 0.3s;
}
.search input:hover{
    background-color: #464646;
}
.search input:focus{
    background-color: #222222;
}
.search select{
    width: 100%;
    margin-right: 10px;

    /* style  */
    padding: 5px 10px;
    background-color: #313131;
    border-radius: 4px;
    outline: none;
    color: white;
    transition: 0.3s;
}
.search select:hover{
    background-color: #464646;
}
.search option{
    color: white;
    transition: 0.3s;
}
.loader{
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media(max-width: 900px){
    .search input{
        width: 100%;
        margin: 0 0 10px 0;
    }
    .search{
        flex-flow: column;
    }
}
@media(max-width: 550px){
    .options{
        flex-flow: column;
    }
    .button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .button div{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}